body{
    background-color: #F7ECDE;
    padding: 0;
    margin: 0;
    font-family: "PT Sans Caption", sans-serif;
    height: 100vh;
}
::selection{
    background-color: #FEC260;
    
}
h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 500;
    color: #352e28; 
    line-height: 60px;
}
h1::after{
    position: absolute;
    content: "";
   left: 0;
   right: 0;
   bottom: 10px;
    height: 25%;
    background-color: #FEC260;
    z-index: -1;
    transition: all .25s linear;

}
h1:hover::after {
    height: 60%;
}
.bookmark-content{
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}
h2{
font-family: "Righteous", sans-serif;
font-size: 25px;
font-weight: 500;
line-height: 30px;
color: transparent;
font-weight: bold;
display: flex;
align-items: center;
gap: 8px;
background: linear-gradient(90deg, #40A55B , #B4AB49);
-webkit-background-clip: text; 
background-clip: text;
margin: 0;

}
h2 i {
    font-size: 24px;
    -webkit-background-clip: text;
    background-clip: text;
}
.sub{
    background-color: #d1512d;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.sub:hover{
    background-color: #bb4120;
    color: white;
}
